.App {
  display: flex;
  margin: 15px;
  flex-direction: column;
  justify-content: center;
}

.buttons-container {
  margin-top:10px;
  display: flex;
}

@media screen and (min-width: 720px) {
  .App {
    width: 40vw;
    margin: auto;
  }
}